<!-- nagireddy date:13/07/2023 validation to done -->

<div class="p-3 mb-2 bg-secondary text-white">
    <form class="row g-3" >
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email:</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Valid Email" >
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password:</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Password">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label"> Present Address: </label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Enter Present Address ">
    </div>
    <div class="col-6">
      <label for="inputAddress2" class="form-label"> Permanent Address: </label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Enter Permanent Address">
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">City:</label>
      <input type="text" class="form-control" id="inputCity" placeholder="City">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State: </label>
      <select id="inputState" class="form-select">
        <option selected> Select State</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Goa">Goa</option>
              <option value="Telangana">Telangana</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label">Pin Code:</label>
      <input type="text" class="form-control" id="inputZip" placeholder="Pin Code">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="align-self: center;">Sign in</button>
    </div>
  </form>
</div>